# Byte-compiled files
__pycache__/
*.pyc

# Virtual environment
executorch_venv/
tflite_venv/
venv_tflite/
executorch/
venv/
env/

# Jupyter Notebook
.ipynb_checkpoints/

# IDE or editor files
.vscode/
.idea/

# Logs
*.log

# Environment variables file
.env

# OS-specific files
.DS_Store
Thumbs.db

# Model files
*.pt
*.pth
*.pte
*.tflite

# APKs
*.apk

# Eggs
*.egg*

# Testing
.mypy_cache
.pytest_cache
.tox
.coverage

# Output files
*/cmake-out/
*/cmake-android-out*

# Personal dev
dev/

### Exceptions

# Model 36 as backup
!best_metric_model.pth

# Example .pte quantized
!export_executorch_quantized/model_threesix_quantized.pte